header .section-first{
    /* height: 35px; */
    width: 100%;
}
header .section-first a{
    margin-left: 10px;
    color: #fff;
    font-weight: 600;
}
header .section-first div{
    /* display: inline ; */
    font-weight: 200;
    padding: 3px 0;
    font-size: 12px;
}

header .section-first button{
    font-size: 14px;
    padding: 0;
}
nav div.brand a{
    font-size: 25px;
    font-weight: 600;
}
div.search div{
    display: inline-block;
}
div.search form{
    position: relative;
    width: 100%;
}
div.search form label{
    position: absolute;
    top: 0;
    right: 14%;
}
div.search form label i{
    vertical-align: -5px;
}
div.search form input{
    width: 90%;
}
div.search div.icon i{
    font-size: 20px;
}
ul li{
    padding-right: 50px;
}
ul li a.nav-link{
    color: black;
}
ul li a.nav-link:hover{
    text-decoration: underline;
}
ul.list li{
    padding: 0;
}
ul.list li a {
    text-decoration: none;
}
header{
  border-bottom: 1px solid #efefef;
}
.navbar{
  border-right: 1px solid #efefef;
}
.product{
  position: relative;
}
.row .box-color{
  position: absolute;
  left: 0;
  width: 20px;
  height: 40px;
  background-color: rgb(183, 44, 44);
  border-radius: 5px;
  color: rgb(183, 44, 44);
}
.header-product{
  width: 100%;
}
.row .box-color .text{
  margin-left: 20px;
  margin-top: 8px;
  font-size: 16px;
  width: 100vh;
}
.timer-product{
  width: 100%;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 500;
  display: inline;
  margin-top: 5px;

}
.timer-product .timer-flash{
  padding: 0;
}
.timer-product .timer{
  margin-left: 10%;
}
.timer-product .timer span{
  color: rgb(183, 44, 44);
  vertical-align: 3px;
}
/* Slider Start */
body {
    position: relative;
    height: 100%;
  }

  body {
    background: #ffffff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

  .swiper {
    width: 100%;
    height: 95%;
  }
.swiper .swiper-wrapper{
  height: 340px;
}

  .swiper-slide {
    display: flex;
    text-align: center;
    font-size: 18px;
    background: #fff;
    justify-content: center;
    align-items: center;
  }

    .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;  
    object-fit: cover;
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
  /* Slider End */

.swiper-slide .card img{
  width: 180px;
  height: 180px;
  display: block;
}
   .card-title{
    font-size: 12px;
    text-align: left;
  }
  .card-subtitle{
    font-size: 12px;
    text-align: left;
    color: red;
  }
  .card-subtitle del{
    color: darkolivegreen;
    margin-left: 5px;
  }

.card{
  height: 100%;
  border: none;
}
.row .btn-product button{
  background-color: rgb(183, 44, 44);
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  color: #fff;
}



div.line{
  content: '';
  width: 100%;
  height: 1px;
  background-color: #484747;
  margin: 0;
  padding: 0;
}



.category .card:hover{
  background: red;
  color: #fff;
}

 .category .card{
  height: 60%;
  justify-content: center;
  border: 1px solid #000;
}
 .category .card i{
  font-size: 68px;
}
 .category .card   .card-title{

  text-align: center;
}







.best-selling .btn{
  position: absolute;
  width: 140px;
  height: 50px;
  background: rgb(183, 44, 44);
  color: #fff;
  right: 0;
}


.row .img{
  position: relative;
}
.img .text-banner {
  position: absolute;  
  color: #fff;
  top: 20%;
  left: 10%;
}
.img .text-banner .card-title{
  color: rgb(23, 170, 23);
}
.img .text-banner .card-header{
  width: 55%;

}
.img .text-banner .btn{
  background-color: rgb(23, 170, 23);
  color: #fff;
  width: 150px;
  height: 50px;
}

.banner-gallery .gallery .first-pic img{


}

.img-responsive{
  width: 100%;
  height: auto;
  display: block;
}
.gallery{
  display: grid;
  grid-gap: 20px;
  padding: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.gallery .child1{
  grid-column: 1/3;
  grid-row: 1 /  3;
}
.gallery .child2{
  grid-row: 1/2;
  grid-column: 3/5;
}

.gallery .child3{
  grid-column: 3/4;
  grid-row: 2/3;
}
.gallery .child4{
  grid-column:  4/5;
  grid-row:  2/3;
}
.gallery .card-body{
  width: 45%;
  
}
.gallery .card-body a{
  color: #ffffff;
  text-decoration: underline;
}

/* offer icon start */

.offer-icon .icon {
  width: 100%;
  /* background-color: aqua; */
}


/*  icon top bar start  */
.row .top-bar i{
  font-size: 28px;
  color: #000;
}    


.offer-icon .icon .icon-inner{
  background-color: #a49e9e;
  width: 60px;
  height: 60px;
  margin: auto;
  border-radius: 500px;
  
}
.offer-icon .icon .icon-inner i{
  font-size: 22px;
  background-color: #000;
  color: #fff;
  border-radius: 300%;
  padding: 10px;
  height: 45px;
  width: 45px;
  vertical-align: -22px;
  
}


/* footer start */

footer ul li a{
  color: #fff;
  text-decoration: none;
}
footer ul li{
  margin-bottom: 10px;
}

footer ul li form input.form-control{

  width: 100vh;
  background-color: transparent;
  color: #ffffff;
}
footer ul li form input.form-control::placeholder{
  color: #efefef;
}
footer ul li .nav-header{
  font-size: 24px;
}
footer ul li a{
  font-size: 16px;
}
footer ul.size-check li a{
  font-size: 12px;
}
footer ul.size-check li a.nav-header{
  font-size: 18px;
  margin-bottom: 4px;
}
footer .brand-footer ul .nav-item a{
  font-size: 14px;
}
footer .brand-footer ul li{
  padding-right: 25px;
}
footer .navbar{
  border-right: none;
}
footer .row .copyright{
  color: #484747;
  border-top: 1px solid rgba(69, 68, 68, 0.6);
}
footer img{
  width: 100%;
  background: #000;
  height: 100%;
}
 footer .navbar .last-nav li .picture{
  /* padding: 50PX; */
  width: 90%;
 }
 footer .last-nav .text-gray{
  color: #484747;
 }
 footer .navbar ul li.icon{
  color: #fff;
 }
 footer .navbar ul li.icon span{
  padding-right:  40px;
  font-size: 18px;
 }
 