header .section-first{
    /* height: 35px; */
    width: 100%;
}
header .section-first a{
    margin-left: 10px;
    color: #fff;
    font-weight: 600;
}
header .section-first div{
    /* display: inline ; */
    font-weight: 200;
    padding: 3px 0;
    font-size: 12px;
}
header .section-first div.btn{
    
}
header .section-first button{
    font-size: 14px;
    padding: 0;
}